.main-bar {
    width: calc(100% - 280px - 24px);
    float: left;
    margin: 25px 0px;
    padding: 0;
    /* font-size: 13px; */
}
.main-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-bar-header h1 {
    font-weight: 400px;
}
.main-bar-header .ask-btn {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #009dff;
    color: white;
    transition: 0.3s;
}
.main-bar-header .ask-btn:hover {
    background-color: #0086d8;
}
.display-question-container {
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fdf7e2;
    border-bottom: 1px solid #edeff0;
}
.display-question-container .display-vote-container {
    padding: 10px;
}
.display-question-container .display-vote-container p {
    margin: 0%;
    text-align: center;
}
.display-questions-details {
    flex-grow: 1;
    padding: 0px 20px;
}
.display-questions-details p {
    padding: 4px;
    margin: 0%;
}
.question-title-link {
    text-decoration: none;
    color: #037ecb;
    transition: 0.3s;
}
.question-title-link:hover {
    color: #009dff
}
.display-tags-times {
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-between;
}
.display-tags-times .display-tags{
    display: flex;
    flex-wrap: wrap;
}
.display-tags-times .display-tags p{
    font-size: 13px;
    margin: 2px;
    padding: 2px 4px;
    background-color: #edeff0 ;
    color: #39739d ;
}
.display-tags-times .display-time {
    font-size: 13px;
}